# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev

script: vendor/bin/phpunit --configuration phpunit.xml --coverage-text

notifications:
  email: false
